/* #region Header */
/*Creates space between nav bar and top of the page */
/* pushes the nav bar below the large title of the page */
#space{
    height: 95px;
}
/* #endregion Header- all pages */

/* #region body- all pages */
/*Background image and body layout */

/* styling of background image and width and height
of body, font of website etc... */
body{
    margin: 0;
    background-image: url(https://images.alphacoders.com/641/thumb-1920-641547.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1500px;
    height: 1012.5px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* #endregion body */

/* #region nav bar- all pages*/

/* Styling of the parent box of nav bar */
nav > ol {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    width:97vw;
}

/* styling between the individual boxes using flex */
nav li, nav ol {
    padding: 15px;
    margin: 15px 15px 0px 15px;
    list-style: none;
    font-size: 18pt;
    color: white;
}

li{
    cursor: pointer;
    margin-bottom: 0;
}

/* link styling when the cursor
until line 63 */
 a:link{
    color: white;
    text-decoration: none;
 }

 a:visited{
    color: white;
 }

 a:hover{
    color: #c0bad3;
 }

 a:active{
    color: #c0bad3;  
 }
 /* #endregion navbar */

/* #region background- all pages*/

/* white opaque background in fron of background image */
#content-background{
    border-top: 5px solid white;
    border-bottom: 2px solid white;
    padding: 0;
    width: 99vw;
    height: 105vh;
    margin: 0;
    background:rgba(255, 255, 255, .5);
}

/* Large title thats on top of white background 
on every page */
.title{
    
    font-size: 30pt;
    text-align: center;
    color: #290795;
}
/* #endregion background*/

/* #region stat card-home page*/
/* Start  of Character stat card Css*/

/* container for the four character cards */
#random-character-display{
    display: flex;
    flex-wrap: wrap;

}

/* each card has one containing block called block */
.block {
    display: flex;
    height: 250px;
    width: 416.67px;
    margin: 50px;
    margin-top: 10px;
    background: #5800AC;
    flex-grow: 1;
    border-radius: 0%;
    box-shadow: 3px 3px 3px 2px #8808C3;
    
}

/* container for the image */
/* I realize now that I didn't need this */
.character-img-container{
    width: 38%;
    text-align: center;
    
}

/* container for the stats on the character card */
/* this is the outside container for the text to the inner 
text block canalign with flex box */
.character-stat-container{
    display: flex;
    width: 62%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    
}

/* class for the image tag of the character cards */
.block-img{
    max-height: 250px;
    margin: 0;
    padding: 0; 

}

/* inner text box so that the text can be aligned in the center
of the card */
 .text-container{
    color: #DFB816;
    font-size: 18px;   
 }

 /* this keeps the list all in line except when broken
 by br */
 dl.text-container dt, dd {
     display: inline;
     overflow: scroll;
     margin: 0;
 }
 /* #endregion stat card*/

/* #region button-home page */

.button-container{
    display: flex;
    justify-content: center;
}

.character-button{
    font-size: 20pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5%;
    background: #290795;
    color: #DF16CA;
    border: 4px groove #B6AA2E;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

button{
    cursor: pointer;
}
/* #endregion button home */

/* #region searchbar - Character search page */
#search-bar{
        display: flex;
        justify-content: center;
}

#search-input{
        width: 400px;
        height: 40px;
        font-size: 20pt;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        background: rgba(41, 7, 149, .9);
        color: #DF16CA;
        border: 4px solid #B6AA2E;
}

#inquery-submit{
    font-size: 20pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background:#290795;
    color: #DF16CA;
    border-top: 4px solid #B6AA2E;
    border-right: 4px solid #B6AA2E;
    border-bottom: 4px solid #B6AA2E;
    border-left: 0;

}
/* #endregion */

/* #region search result section and search error */

/* search bar css */
#search-result-section{
   display: flex;
   justify-content: center;
   padding-right: 340px;
   padding-left: 340px;
   margin: 40px;
   
}

/* Cannot find Character style */
h4{
    margin: 50px;
    font-size: 24pt;
    background: rgba(88, 0, 172, .9);
    color: #DF16CA;
    padding: 50px;
    border: 4px solid #B6AA2E;

}

/* #endregion */

/* #region of the about page css */

.about-img{
    float: right;
    height: 150px;
    margin: 5px;
}

/* reference title */
h2{
    color: #DF16CA;
    font-size: 28pt;
    margin: 0;
    padding: 0;
}

/* secondary title */
h3{
    color: #DF16CA;
    font-size: 24pt;
    margin: 0;
    padding-top: 20px;
    padding-left: 20px;
}

p{
    color: #5800AC;
    font-size: 20pt;
    width: 80%;
    margin: 0;
    padding-left: 20px;
}

/* containers containing three sections of the about page */
.about-text-img-container{
    padding-left: 50px;
    padding-right: 50px;
    clear: bottom;
}

.about-container{
    display: flex;
}

/* #endregion */






